{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "jquery": true
  },
  {
    "parserOptions": {
        "ecmaVersion": 3,
        "sourceType": "script"
    },
    "rules": {
        "semi": 2
    }
  },
  "rules": {
    "no-multi-spaces": ["error", {
      exceptions: {
        "VariableDeclarator": true,
        "ImportDeclaration": true,
        "Property": false
      }
    }]
  }
}